body{
    background-image: url(back.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    color:maroon;
    font-family:cursive;
    /*font-weight:bold;*/
    font-size:large;
    background-color: lightsalmon;
    text-align: center;
}

form{
    padding: 25px;
    display: inline-block;
    background-color: rgba(250, 94, 94,0.615);
    border-radius: 10px;
}
#sub{
    font-family:cursive;
    color:white;
    background-color:brown;
    font-size:larger;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:rgba(250, 94, 94,0.615);
}
li.l2{
    float:left;
    font-family:cursive;
    font-size:large;
    font-weight:bold;
    
}
li.l2 a{
    display:block;
    padding:14px 16px;
    color:maroon;
    text-decoration:none;
}
li.l2 a:hover{
    background-color:rgba(250, 94, 94);
}
.top{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: brown;
}
li.l1{
    float:left;
    font-family:cursive;
    font-size:smaller;
    font-weight:bold;
}
li.l1 a{
    display:block;
    padding:5px 5px;
    color:white;
    text-decoration:none;
}
#logo0{
    width:17px;
    height:17px;
   
}
#logo1{
    width:17px;
    height:17px;
    
}
#username,#password{
    font-size:medium;
    padding:5px 5px;
    
}