body{
    background-image: url(back.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    color:maroon;
    font-family:cursive;
    /*font-weight:bold;*/
    font-size:large;
    background-color: lightsalmon;
    text-align: center;
}

form{
    padding: 25px;
    display: inline-block;
    background-color: rgba(250, 94, 94,0.615);
    border-radius: 10px;
}
#sub{
    font-family:cursive;
    color:maroon;
    font-size:larger;
}
